
h1{

	font-size: 30px;
	font-weight:600;
}



body{

	font-family: 'Open Sans', sans-serif;
	text-align: left;
	background-color: #e3e1e1;
	padding-left: 5vw;
	padding-right:5vw;
	font-weight:400;
}

.startside{
	font-size: 20px;
	padding-top: 2.5vw;
}
.solution{
  font-size: 20px;
  padding-top: 2vw;
}

::selection{
  background-color: #362219;
  color:white;
}

.nav{
	text-align: right;
	font-size: 15px;
	display:inline-block;
	float:right;
	border-width: 0px;
	border-radius: 25px;
}
.nav a{
	text-decoration:none;
	padding: 2vw;
	color:black;
	background-color: #ebd234;
}
.nav a:hover{
	color:#403030;
	background-color: #f0f0f0;
}

img{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

}

* {
    box-sizing: content-box;

}

[class*="col-"]{
  float: left;

}

.col-small-10 {width: 10%;}
.col-small-15 {width: 15%;}
.col-small-20 {width: 20%;}
.col-small-25 {width: 25%;}
.col-small-30 {width: 30%;}
.col-small-35 {width: 35%;}
.col-small-40 {width: 40%;}
.col-small-45 {width: 45%;}
.col-small-50 {width: 50%;}
.col-small-55 {width: 55%;}
.col-small-60 {width: 60%;}
.col-small-65 {width: 65%;}
.col-small-70 {width: 70%;}
.col-small-75 {width: 75%;}
.col-small-80 {width: 80%;}
.col-small-85 {width: 85%;}
.col-small-90 {width: 90%;}
.col-small-95 {width: 95%;}
.col-small-100 {width: 100%;}


@media  only screen and (min-width 10000px){
  .col-tall-10 {width: 10%;}
  .col-tall-15 {width: 15%;}
  .col-tall-20 {width: 20%;}
  .col-tall-25 {width: 25%;}
  .col-tall-30 {width: 30%;}
  .col-tall-35 {width: 35%;}
  .col-tall-40 {width: 40%;}
  .col-tall-45 {width: 45%;}
  .col-tall-50 {width: 50%;}
  .col-tall-55 {width: 55%;}
  .col-tall-60 {width: 60%;}
  .col-tall-65 {width: 65%;}
  .col-tall-70 {width: 70%;}
  .col-tall-75 {width: 75%;}
  .col-tall-10 {width: 80%;}
  .col-tall-85 {width: 85%;}
  .col-tall-10 {width: 90%;}
  .col-tall-95 {width: 95%;}
  .col-tall-100 {width: 100%;}
